<h2>Add a Recipe to "<%= @category.name %>"</h2>

<%= simple_form_for [@category, @bookmark] do |f| %>
  <div>
    <%= f.association :recipe, collection: Recipe.all, label: "Choose a Recipe" %>
  </div>

  <div>
    <%= f.input :comment, label: "Comment", input_html: { class: "form-control" } %>
  </div>

  <div>
    <%= f.button :submit, "Add" %>
  </div>
<% end %>

<%= link_to "Home", categories_path %>
