<h2>Recipes in <%= @category.name %>:</h2>
<ul>
  <% @category.recipes.each do |recipe| %>
    <% if (bookmark = recipe.bookmarks.find_by(category: @category)) %>
      <li>
        <%= recipe.name %> |
        <%= link_to 'Delete', bookmark_path(bookmark), data: { turbo_method: :delete, confirm: "Are you sure?" } %>
      </li>
    <% else %>
      <li>
        <%= recipe.name %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Add", new_category_bookmark_path(@category) %>

<%= link_to "Home", categories_path %>